nav {
    display: inline-block;
}

li {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
}

.menu-closed > ul {
    display: none;
}

.slider-root {
    margin-top: 50px;
}

.slider {
    position: relative;
    background: lightgray;
    border-radius: 5px;
    height: 20px;
    display: block;
}

.slider__toggle {
    position: relative;
    background: blue;
    width: 30px;
    height: 60px;
    border-radius: 3px;
    top: -20px;
    left: 80px;
    cursor: pointer;
}